<div id="<%= dom_id obj %>" class="card w-50 mb-2 p-2">
  <div class="d-flex justify-content-between w-50">
    <p>
      <strong>Name:</strong>
      <%= obj.item_name %>
    </p>
    <p>
      <strong>Category:</strong>
      <%= obj.category %>
    </p>
  </div>
  <p>
    <%= link_to "Show this item", obj %>
    <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#modal_<%= obj.id %>">
      Delete
    </button>
    <%= render 'deleted_items/form', deleted_item: DeletedItem.new, item_url: deleted_items_path, item_id: obj.id %>
  </p>
</div>
