<div id="<%= dom_id deleted_item %>">
  <p>
    <strong>Item name:</strong>
    <%= deleted_item.item.item_name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= deleted_item.item.price %>
  </p>


  <p>
    <strong>Category:</strong>
    <%= deleted_item.item.category %>
  </p>

  <p>
    <strong>Expire at:</strong>
    <%= deleted_item.item.expire_at || 'No expire' %>
  </p>

   <p>
    <strong>Description</strong>
    <%= deleted_item.description %>
  </p>

</div>