<% if @deleted_item.errors.any? %>
    $('.show .error-show').html('<%= escape_javascript(render 'shared/errors', errors: @deleted_item.errors)%>')
<% else %>
    $('.modal-backdrop').hide();
    $('#item_<%= @item_id %>').remove();
    var item = {
    id: <%= @deleted_item.item.id %>,
    deletedId: <%= @deleted_item.id %>,
    itemName: '<%= @deleted_item.item.item_name %>',
    price: <%= @deleted_item.item.price %>,
    category: '<%= @deleted_item.item.category %>',
    expireAt: '<%= @deleted_item.item.expire_at %>',
    description: '<%= @deleted_item.description %>',
    createdAt: '<%= @deleted_item.created_at %>',
    deleteLink: '<%= deleted_path(@deleted_item) %>'
    };

    var template = `
    <div id="deleted_item_${item.deletedId}" class="col-lg-3 p-3">
        <div>
            <p>
                <strong>Item name:</strong>
                ${item.itemName}
            </p>
            <p>
                <strong>Price:</strong>
                ${item.price}
            </p>
            <p>
                <strong>Category:</strong>
                ${item.category}
            </p>
            <p>
                <strong>Expire at:</strong>
                ${item.expireAt}
            </p>
            <p>
                <strong>Description</strong>
                ${item.description}
            </p>
        </div>
        <a data-remote="true" rel="nofollow" data-method="delete" href="${item.deleteLink}">
        Undelete</a>
    </div>
    `;
    var deletedItems = JSON.parse(localStorage.getItem('deletedItems')) || [];
    var existed = deletedItems.findIndex((deleted) => deleted.id == item.id);

    if(existed >= 0) {
        deletedItems[existed] = item;
    } else {
        if(deletedItems.length >= 3) deletedItems.pop();
        deletedItems.unshift(item);
    };


    document.querySelector('.deleted').insertAdjacentHTML('afterbegin', template);
    localStorage.setItem('deletedItems', JSON.stringify(deletedItems));
<% end %>