<div id="<%= dom_id item %>">
  <p>
    <strong>Item name:</strong>
    <%= item.item_name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= item.price %>
  </p>


  <p>
    <strong>Category:</strong>
    <%= item.category %>
  </p>

  <p>
    <strong>Expire at:</strong>
    <%= item.expire_at %>
  </p>

</div>
