<%= form_with(model:[warehouse, warehouse_item]) do |f| %>
    <% if warehouse_item.errors.any? %>
        <ul class="errors alert alert-danger" role="alert">
            <% warehouse_item.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
        </ul>
    <% end %>
        <div class="modal-body">
            <div class="mb-3">
                <%= f.select :item_id, Item.all.map { |i| [i.item_name, i.id] }, { selected: warehouse_item.item_id, prompt: 'Select item' }, class: 'form-select', required: true  %>
            </div>
            <div class="mb-3">
                <%= f.number_field :quantity, class: "form-control", placeholder: 'Enter Quantity' %>
            </div>
        </div>
        <div class="modal-footer">
            <%= link_to 'Close', warehouse_path(@warehouse), class: 'btn btn-secondary'%>
            <%= f.submit class: "btn btn-primary" %>
        </div>
<% end %>