<section class="show-warehouse">
    <div class="head">
        <h2>Warehouse name: <%= @warehouse.name %></h2>
        <p>Country: <%= @warehouse.country %></p>
        <p>City: <%= @warehouse.city %></p>
        <p>Address: <%= @warehouse.address %></p>
    </div>
    <div class="body">
        <% @items.each do |item| %>
          <%= render 'items/item', locals: { item: item, view: 'show' }%>
        <% end %>
    </div>
</section>

<div class="links">
    <%= link_to 'Edit warehouse', edit_warehouse_path(@warehouse) %>
    <%= link_to 'Back', warehouses_path %>

    <%= button_to 'Destroy', warehouse_path(@warehouse), method: :delete %>
</div>